#main {
  background-color: RGB(237, 237, 237);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-contents: center;
  font-family: 'Segoe UI';
  color: #333;
  border-radius: 8px;
  margin-top: 30px;
  margin-bottom: 30px;
}
#title{
  font-family: 'Oswald';
  font-size: 50px;
  text-align: center;
  width: 100%;
  margin: auto;
  display: inline;
  color: #333;
}
p{
  display: inline;
  font-size: 14px;
  font-family: 'Segoe UI';
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #333;
}
#img-div {
  background-color: white;
  width: 95%;
  padding: 10px;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 25px -6px rgba(0,0,0,0.47);
}
#img-caption{
  color: #333;
  font-weight: 400;
}
#image {
width: 70%;
  max-width: 70%;
}
#tribute-info {
  width: 50%;
  display: flex;
  flex-direction: column;
}
#tribute-info h2 {
  color: black;
  align-self: center;
}
#tribute-info li {
  margin: 5px;
}
#footer{
  font-size: 20px;
  text-align: center;
  display: inline;
  width: 100%;
}

@max-width 700 {
#main {
  width: auto;
}
